*{
    font-family: Inter,'Symbols Nerd Font';
    font-size: 10px;
    min-height: 0;
    font-weight: 600;
}

#workspaces{
    background-color: rgba(0,0,0,0.9);
    padding: 2px;
    margin: 0 4px;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    border: none;
    border-radius: 6px;
}

#workspaces button{
    color: rgba(170,170,170,0.9);
    border-radius: 6px;
    padding: 2px 6px;
    margin: 0;
    background: transparent;
    transition: all 0.1s ease-in-out;
    border: none;
    outline: none;
}

#workspaces button.active{
    color: rgb(255,255,255);
    background-color:transparent;
}

window#waybar{
    background-color: transparent;
}
#window{
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,1);
    padding: 5px;
    border-radius: 6px;
}
window#waybar.empty #window{
    background-color: transparent;
}

#clock{
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.8);
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin-left: 4px;
}
#custom-music{
  background-color: rgba(0,0,0,0.9);
  color: rgba(255,255,255,0.8);
  border-radius: 6px;
  border: none;
  padding: 4px;
  margin: 0 8px;
}

#bluetooth,
#wireplumber,
#battery,
#network{
  background-color: rgba(0,0,0,0.9);
  color: rgba(255,255,255,0.8);
  padding: 0 8px;
}
#bluetooth:hover,
#wireplumber:hover,
#battery:hover,
#network:hover{
  background-color: rgb(37,37,37);
}

#bluetooth{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}
#battery{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 4px;
}
