alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='ls -l'
alias rm='rm -v'
alias ip='ip --color=auto'
alias sctl='sudo systemctl'
alias setwall='$HOME/scripts/wallp.sh '
alias penv='source $HOME/pyenv/bin/activate'
alias yz='yazi'
alias mpdf='mupdf -r 96'
