alias la='ls -al'
alias ll='ls -l'
alias pacupdate='sudo pacman -Syyu'
alias pacinstall='sudo pacman -S'
alias pacuinstall='sudo pacman -R'
alias fetch='fastfetch'
alias confedit='vim .config'
alias sctl='sudo systemctl'
alias disku='gdu /'
alias setwall='$HOME/scripts/wallp.sh '
alias penv='source $HOME/pyenv/bin/activate'
alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias svim='sudo vim'
alias yz='yazi'
alias mpdf='mupdf -r 96'
alias aurupdate='yay -Syu'
alias aurinstall='yay -S'
alias iwlan0='iwctl station wlan0'
