
//@theme "/home/rishi/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/rishi/.local/share/rofi/themes/mono.rasi"

//@theme "/home/rsx/.local/share/rofi/themes/squared-nord.rasi"

@theme "/home/rsx/.local/share/rofi/themes/dracula.rasi"
